{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": false, // Set to false if you're not using polyfills
        "helpers": true,
        "regenerator": true,
        "useESModules": false
      }
    ]
  ]
}